<hr/>

<a id="{{sketch_id}}" href="#{{sketch_id}}"><h2>{{title}}</h2></a>
<p>Live demo <a class="bold_write" href="{{sketch_id}}/">here</a> / Python code <a class="bold_write" href="https://github.com/berinhard/sketches/tree/master/{{sketch_id}}/" target="_blank">here</a></p>

<img class="lazy" alt="{{sketch_id}}" data-src="{{sketch_id}}/{{cover}}"></img>
<p>{{ description }}</p>
<span>Daily sketch - {{sketch_date}}</span>
<p><small>Created with <a href="https://berinhard.github.io/pyp5js/">pyp5js</a></small></p>
